body {
  --c: 206;
  --sat: 43%;
  --lg: 15%;

  --shadow: 0.1rem 0.1rem 0.4rem hsl(186 10% 30%);
  --shadow-purple: 0.1rem 0.1rem 0.5rem hsl(243, 38%, 13%);

  background: hsl(var(--c), var(--sat), var(--lg));
  color: hsl(var(--c), 15%, 90%);
}

a {
  border-radius: 2rem;
  color: hsl(46, 20%, 53%); /* more contrast hsl(46, 30%, 80%) */
}

html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
form,
fieldset,
caption,
table,
tr,
td,
th,
address,
blockquote,
img {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  flex: 1 0 auto; /* safari bugfix */
  box-sizing: border-box;
}

button,
label {
  cursor: pointer;
}

body,
button,
input,
table,
textarea,
select {
  font: normal 1rem/1.5 "poppins", arial, helvetica, sans-serif;
}

html,
body {
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  line-height: 2;
  text-shadow: var(--shadow);
  margin: auto;
}

h1 ~ * {
  flex-grow: 0;
  font-size: 1.3rem;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto !important;
  padding: 1rem 4rem;
}

figcaption {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #9e936f;
}

header {
  display: flex;
  flex-grow: 0;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid hsl(240, 51%, 8%);
  background: #394a59;
}

header nav {
  padding: 0.75rem 0;
  flex-wrap: wrap;
}

header a {
  display: inline-block;
  text-decoration: none;
}

nav {
  margin: auto;
}

#nav-links li {
  display: inline;
  list-style: none;
  margin: 0 2rem;
}

#tags-list li {
  display: inline-block;
  list-style: none;
  margin: 0.2rem 0.2rem;
  font-size: 1rem;
}

.list {
  padding-left: 2rem;
}

.list li {
  padding-bottom: 1rem;
  font-size: 1rem;
}

header li a {
  transition: transform 0.3s;
  font-size: 1.6rem;
}

header li a:focus,
header li a:hover,
main a:focus,
main a:hover {
  transform: scale(1.25);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

#contact {
  margin: 1rem;
}

#contact > li {
  margin-bottom: 0.5rem;
}

#contact li {
  display: block;
  padding: 0 0.5rem;
  border-radius: 1.5rem;
  background: hsl(calc(var(--c) - 20), var(--sat), 30%);
  text-align: center;
  box-shadow: var(--shadow-purple);
}

#contact a {
  color: hsl(calc(var(--c) - 20), var(--sat), 90%);
}

main {
  display: block;
  padding: min(8vh, 4vw) clamp(1rem, min(2vw, 4vh), 4rem);
  font-size: 1.5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-decoration: underline;
  text-underline-offset: 0.8rem;
}

#date-published {
  font-size: 1rem;
}

#date-published time {
  color: #d3ccb5;
}

#mainContent > article {
  margin-top: 1rem;
}

#tags {
  padding-bottom: 1rem;
  margin-bottom: 2.5rem;
  border-bottom: 0.2rem solid hsl(46, 20%, 53%);
}

#tags li {
  list-style: none;
  display: inline;
}

#mainContent > article p {
  margin-bottom: 0.8rem;
  line-height: 2;
}

#mainContent > article h3 {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  margin-bottom: 0.8rem;
}

#mainContent > article table {
  width: 100%;
  text-align: center;
}

#snippet {
  background-color: #2b2b2b;
  border-radius: 0.2rem;
  border: 1px solid #ffd700;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.prompt {
  color: #ffd700;
}

pre {
  padding: 0.5rem;
  margin: 0;
  font-size: 1rem;
}

code {
  font: normal 1rem/1.5 "poppins", arial, helvetica, sans-serif;
}

.highlight {
  background-color: rgb(58, 62, 65);
  border-radius: 0.2rem;
  padding: 0.1rem 0.2rem;
  margin: 0.2rem;
}

.tags {
  background-color: rgb(179, 16, 65);
  border-radius: 0.3rem;
  padding: 0.1rem 0.2rem;
  margin-right: 0.15rem;
  margin-bottom: 0.2rem;
}

.red-sc {
  color: #ff7369;
}

.orange-sc {
  color: #fca67b;
}

.purple-sc {
  color: #c58fff;
}

.blue-sc {
  color: #94ccf7;
}

.comment-sc {
  color: #8b949e;
}

#postsIndex ul {
  padding: min(8vh, 12vw) clamp(0.5rem, min(2vw, 4vh), 4rem);
}

.two-images-side-by-side {
  display: flex;
  flex-grow: 0;
}

.two-images-side-by-side img {
  width: 45%;
  padding: 0 0.2rem;
  margin-bottom: 2rem;
}

#postsIndex li {
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  background: hsl(calc(var(--c) - 20), var(--sat), 30%);
  overflow-wrap: break-word;
  padding-left: 0.2rem;
  box-shadow: var(--shadow);
}

#postsIndex a {
  margin-left: 1%;
  text-decoration: none;
}

#cv {
  display: flex;
  align-items: center;
  justify-content: center;
}

embed {
  height: 100vh;
}

#projectsIndex {
  margin-left: 4rem;
}

#projectsIndex a {
  font-size: 1.4rem;
}

#projectsIndex p {
  margin-top: 1rem;
}

@media only screen and (max-width: 1024px) {
  h1 {
    text-align: center;
  }

  header {
    display: block;
    width: 100%;
  }

  header nav {
    text-align: center;
  }

  header > li * {
    margin-left: 0;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 1.6rem;
  }

  header > li * {
    margin: 0;
  }

  pre {
    font-size: 0.65rem;
    overflow-x: scroll;
  }

  nav ul a,
  #contact a {
    font-size: 1rem;
  }

  #tags {
    font-size: 0.65rem;
  }

  #mainContent > article p {
    font-size: 1rem;
  }

  #mainContent > article table {
    text-align: center;
  }

  #mainContent > article table > tbody > tr > th,
  #mainContent > article table > tbody > tr > td {
    font-size: 0.8rem;
  }

  #projectsIndex a {
    text-decoration: underline;
    font-size: 1.2rem;
  }

  #projectsIndex p {
    padding-top: 1rem;
    font-size: 1rem;
  }
}
