body {
  --c: 206;
  --sat: 43%;
  --lg: 15%;

  --shadow: 0.1em 0.1em 0.4em hsl(186 10% 30%);
  --shadow-purple: 0.1em 0.1em 0.5em hsl(243, 38%, 13%);

  background: hsl(var(--c), var(--sat), var(--lg));
  color: hsl(var(--c), 15%, 90%);
}

a {
  border-radius: 2em;
  color: hsl(46, 20%, 53%);
}

html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
form,
fieldset,
caption,
table,
tr,
td,
th,
address,
blockquote,
img {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  flex: 1 0 auto; /* safari bugfix */
  box-sizing: border-box;
}

button,
label {
  cursor: pointer;
}

body,
button,
input,
table,
textarea,
select {
  font: normal 1em/1.5 "poppins", arial, helvetica, sans-serif;
}

html,
body {
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 2;
  text-shadow: var(--shadow);
  margin: auto;
}

h1 ~ * {
  flex-grow: 0;
  font-size: 1.3rem;
}

img {
  margin: 2rem auto;
  display: block;
}

figcaption {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #9e936f;
}

header {
  display: flex;
  flex-grow: 0;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid hsl(240, 51%, 8%);
  background: #394a59;
}

header nav {
  padding: 0.75em 0;
  flex-wrap: wrap;
}

header a {
  display: inline-block;
  text-decoration: none;
}

nav {
  margin: auto;
}

nav li {
  display: inline;
  list-style: none;
  margin: 0 2rem;
}

header li a {
  transition: transform 0.3s;
  font-size: 1.6rem;
}

header li a:focus,
header li a:hover,
main a:focus,
main a:hover {
  transform: scale(1.25);
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

#contact {
  margin: 1rem;
}

#contact > li {
  margin-bottom: 0.5em;
}

#contact li {
  display: block;
  padding: 0 0.5em;
  border-radius: 1.5em;
  background: hsl(calc(var(--c) - 20), var(--sat), 30%);
  text-align: center;
  box-shadow: var(--shadow-purple);
}

#contact a {
  color: hsl(calc(var(--c) - 20), var(--sat), 90%);
}

main {
  display: block;
  padding: min(8vh, 4vw) clamp(0.5em, min(2vw, 4vh), 4em);
  font-size: 1.5rem;
}

#mainContent {
  padding: 1.5em;
}

#mainContent > h2 {
  font-size: 2em;
  margin-bottom: 1.5rem;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  color: #9e936f;
}

#mainContent > article {
  margin-top: 1em;
}

#mainContent > article ol li {
  list-style: none;
}

#mainContent > article p {
  margin-bottom: 0.8em;
  line-height: 2;
}

#mainContent > article h3 {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  margin-bottom: 0.8em;
}

#mainContent > article table {
  width: 100%;
  text-align: center;
}

#postsIndex ul {
  padding: min(8vh, 12vw) clamp(0.5em, min(2vw, 4vh), 4em);
}

#postsIndex li {
  margin-bottom: 2em;
  border-radius: 0.5em;
  background: hsl(calc(var(--c) - 20), var(--sat), 30%);
  overflow-wrap: break-word;
  padding-left: 0.2em;
  box-shadow: var(--shadow);
}

#postsIndex a {
  margin-left: 1%;
  text-decoration: none;
}

#cv {
  display: flex;
  align-items: center;
  justify-content: center;
}

embed {
  height: 100vh;
}

#projectsIndex a {
  font-size: 1.4em;
}

#projectsIndex p {
  margin-top: 1em;
}

@media only screen and (max-width: 937px) {
  h1 {
    text-align: center;
  }

  header {
    display: block;
  }

  header nav {
    text-align: center;
  }

  header > li * {
    margin-left: 0;
  }

  img {
    max-width: 100%;
    width: 100%;
    height: auto !important;
  }
}

@media only screen and (max-width: 406px) {
  h1 {
    font-size: 1.6rem;
  }

  header > li * {
    margin: 0;
  }

  nav ul a,
  #contact a {
    font-size: 1rem;
  }

  #mainContent > h2 {
    font-size: 1.2rem;
  }

  #mainContent > article p {
    font-size: 1rem;
  }

  #mainContent > article table {
    text-align: center;
  }

  #mainContent > article table > tbody > tr > th,
  #mainContent > article table > tbody > tr > td {
    font-size: 0.8rem;
  }

  #projectsIndex a {
    text-decoration: underline;
    font-size: 1.2em;
  }

  #projectsIndex p {
    padding-top: 1em;
    font-size: 1rem;
  }
}
