body {
  --c: 206;
  --sat: 43%;
  --lg: 15%;

  --shadow: 0.1rem 0.1rem 0.4rem hsl(186 10% 30%);
  --shadow-purple: 0.1rem 0.1rem 0.5rem hsl(243, 38%, 13%);

  background: hsl(206, 43%, 15%);
  color: hsl(206, 15%, 90%);
  --textcolor: hsl(46, 20%, 53%);
}

a {
  border-radius: 2rem;
  color: var(--textcolor);
}

html,body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,
form,fieldset,caption,table,tr,td,th,address,blockquote,img {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  flex: 1 0 auto; /* safari bugfix */
  box-sizing: border-box;
}

button,label {
  cursor: pointer;
}

body,button,input,table,textarea,select {
  font: normal 1rem/1.7 "CaskaydiaCoveNerdFont-Regular";
}

html,body {
  min-height: 100vh;
}

h1 {
  text-shadow: var(--shadow);
  margin: auto;
  margin-left: 1rem;
}

h1 ~ * {
  flex-grow: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto !important;
  padding: 1rem 4rem;
}

figcaption {
  text-align: center;
  margin-bottom: 2rem;
  color: #9e936f;
}

header {
  display: flex;
  flex-grow: 0;
  border-bottom: 1px solid hsl(240, 51%, 8%);
  background: hsl(208, 22%, 29%);
  font-size: clamp(1.1rem, 1.25vw, 10rem);
}

header nav {
  padding: 0.75rem 0;
  flex-wrap: wrap;
}

header a {
  display: inline-block;
  text-decoration: none;
}

nav {
  margin: auto;
}

#nav-links li {
  display: inline;
  list-style: none;
  margin: 0 1.2rem;
}

#nav-links a {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  text-shadow: 0.1rem 0.1rem 0.8rem var(--textcolor);
}

#nav-links a {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}

#tags-list li {
  display: inline-block;
  list-style: none;
  margin: 0.2rem 0.2rem;
}

.list {
  padding-left: 2rem;
}

.list li {
  padding-bottom: 1rem;
}

header li a {
  transition: transform 0.3s;
}

header li a:focus,
header li a:hover,
main a:focus,
main a:hover {
  transform: scale(1.25);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

#contact {
  margin: 1rem;
}

#contact > li {
  margin-bottom: 0.5rem;
}

#contact li {
  display: block;
  padding: 0 0.5rem;
  border-radius: 1.5rem;
  background: hsl(calc(var(--c) - 20), var(--sat), 30%);
  text-align: center;
  box-shadow: var(--shadow-purple);
}

#contact li a {
  color: hsl(calc(var(--c) - 20), var(--sat), 90%);
}

#contact li:nth-child(1) a{
  padding-left: 1.4rem;
  position: relative;
}

#contact li:nth-child(1) a::before{
  content: url(../static/icons/icons8-github.svg);
  position: absolute;
  left: -0.2rem;
  top: 10%;  
}

#contact li:nth-child(2) a{
  padding-left: 1rem;
  position: relative;
}

#contact li:nth-child(2) a::before{
  content: url(../static/icons/icons8-gmail.svg);
  position: absolute;
  left: -0.6rem;
  top: 10%;
}

main {
  display: block;
  padding: min(8vh, 4vw) clamp(2rem, min(15vw, 17vh), 16rem);
  font-size: clamp(0.9rem, 1.25vw, 10rem);
  margin: 0 auto;
  max-width: 64rem;
}

h2 {
  margin-bottom: 1.5rem;
}

#date-published time {
  color: #d3ccb5;
}

#tags {
  padding-bottom: 1rem;
  margin-bottom: 2.5rem;
  border-bottom: 0.2rem solid var(--textcolor);
}

#tags li {
  list-style: none;
  display: inline;
}

#mainContent > article p {
  margin-bottom: 0.8rem;
}

#mainContent > article h3 {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  margin-bottom: 0.8rem;
}

#snippet {
  background-color: #2b2b2b;
  border-radius: 0.2rem;
  border: 1px solid #ffd700;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.prompt {
  color: #ffd700;
}

pre {
  font-size: 1rem; 
  padding: 0 1rem;
  margin: 0;
}

.highlight {
  background-color: rgb(58, 62, 65);
  border-radius: 0.2rem;
  padding: 0.1rem 0.2rem;
  margin: 0.2rem;
}

.tags {
  background-color: rgb(179, 16, 65);
  border-radius: 0.3rem;
  padding: 0.1rem 0.2rem;
  margin-right: 0.15rem;
  margin-bottom: 0.2rem;
}

.red-sc {
  color: #ff7369;
}

.orange-sc {
  color: #fca67b;
}

.purple-sc {
  color: #c58fff;
}

.blue-sc {
  color: #94ccf7;
}

.comment-sc {
  color: #8b949e;
}

#postsIndex ul {
  padding: min(8vh, 12vw) clamp(0.5rem, min(2vw, 4vh), 4rem);
}

.two-images-side-by-side {
  display: flex;
  flex-grow: 0;
}

.two-images-side-by-side img {
  width: 45%;
  padding: 0 0.2rem;
  margin-bottom: 2rem;
}

#postsIndex li {
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  background: hsl(calc(var(--c) - 20), var(--sat), 30%);
  overflow-wrap: break-word;
  padding-left: 0.2rem;
  box-shadow: var(--shadow);
}

#postsIndex a {
  margin-left: 1%;
  text-decoration: none;
}

#cv {
  display: flex;
  align-items: center;
  justify-content: center;
}

embed {
  height: 100vh;
}

@media only screen and (max-width: 500px) {
  h1 {
    margin: 0;
  }

  nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #nav-links{
    flex-grow: 0;
  }

  #nav-links li{
    margin-left: 0.2rem;
    margin-right: 0;
  }

  #contact{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #contact *{
    flex-grow: 0;
  }

  #contact > li{
    margin-right: 0.5rem;
  }

  #contact li:nth-child(2) a{
    padding-left: 1.3rem;
  }

  #contact li:nth-child(2) a::before{
    left: -0.3rem;
    top: 10%;
  }

  #nav-links{
    flex-grow: 0;
  }

  #nav-links li{
    margin-left: 0.8rem;
    margin-right: 0;
  }

  #contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.1rem;
  }

  #contact *{
    flex-grow: 0;
  }

  #contact > li{
    margin-right: 0.5rem;
  }

  #contact li:nth-child(2) a{
    padding-left: 1.3rem;
  }

  #contact li:nth-child(2) a::before{
    left: -0.3rem;
    top: 10%;
  }

  pre {
    font-size: 0.8rem;
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 1024px) {
    h1 {
      margin: 0;
      text-align: center;
    }
  
    header {
      display: block;
      width: 100%;
    }
  
    header nav {
      text-align: center;
    }
  
    header > li * {
      margin-left: 0;
    }
}